footer
{
    width: var(--maximum-width);
    background-color: var(--very-dark-violet);
    padding: var(--main-gap) 0;
}

.footer-container
{
    width: calc(var(--maximum-width) - 20%);
    margin: 0 auto;
}

.footer-links
{
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
    margin-bottom: var(--main-gap);
}

footer h2, .footer-links h3
{
    color: var(--white);
}

footer h2
{
    margin: var(--main-gap) 0;
}

.footer-links h3
{
    margin: var(--half-gap) 0;
}


.footer-links li a
{
    color: var(--gray);
    line-height: 2;
}

.social-links
{
    display: flex;
    justify-content: center;
    gap: var(--half-gap);
}

.footer-links a:hover, .social-links a:hover
{
    color: var(--footer-links-hover);
}

.footer-links a:active, .social-links a:active
{
    color: var(--footer-links-active);
}
